@use './../../styles/global-variables.scss' as *;

.homepage-nav {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 23, 42, 0.3);

    .nav-button {
        background: rgba(255, 255, 255, 0.1);
        color: #ffffff;
        padding: 0.5rem 1rem;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        text-decoration: none;
        font-weight: 600;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;

        &:hover {
            background: rgba(255, 255, 255, 0.2);

        }

        &:active {
            transform: translateY(1px);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }
    }
}

